<!-- work done by David... basic template for phaser. everything can be changed except for the script tag for phaser.min.js -->

<!DOCTYPE html>
<html>
<head>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.0.0/dist/phaser.min.js"></script>
</head>
<body>

    <script>
    var config = {
        type: Phaser.AUTO,
        width: 800,
        height: 600,
        physics: {
            default: 'arcade',
            arcade: {
                gravity: { y: 200 }
            }
        },
        scene: {
            preload: preload,
            create: create
        }
    };

    const game = new Phaser.Game(config);
    let cursors;
    let player;
    let showDebug = false;

    function preload ()
    {
        this.load.image("tiles", "/scenery/roguelikeSheet_transparent.png");
        this.load.tilemapTiledJSON("map", "/map/level1.json");
    }

    function create() {
        // Parameters are the name you gave the tileset in Tiled and then the key of the tileset image in
        // Phaser's cache (i.e. the name you used in preload)
        const tileset = map.addTilesetImage("roguelikeSheet_transparent", "tiles");

        // Parameters: layer name (or index) from Tiled, tileset, x, y
        const grassLayer = map.createStaticLayer("Grass", tileset, 0, 0),
            pathLayer = map.createStaticLayer("Path", tileset, 0, 0),
            houseBodyLayer = map.createStaticLayer("HouseBody", tileset, 0, 0),
            houseDecLayer = map.createStaticLayer("HouseDec", tileset, 0, 0),
            foliageLayer = map.createStaticLayer("Foliage", tileset, 0, 0);

        foliageLayer.setCollisionByProperty({ collides: true });

        const player = this.physics.add.sprite(400, 350, "atlas", "misa-front");
    }

    function update(time, delta) {
          // Stop any previous movement from the last frame
          player.body.setVelocity(0);

          // Horizontal movement
          if (cursors.left.isDown) {
            player.body.setVelocityX(-100);
          } else if (cursors.right.isDown) {
            player.body.setVelocityX(100);
          }

          // Vertical movement
          if (cursors.up.isDown) {
            player.body.setVelocityY(-100);
          } else if (cursors.down.isDown) {
            player.body.setVelocityY(100);
          }

          // Normalize and scale the velocity so that player can't move faster along a diagonal
          player.body.velocity.normalize().scale(speed);
    }

    function setup() {
        // ...

        // This will watch the player and worldLayer every frame to check for collisions
        this.physics.add.collider(player, foliageLayer);
    }
    </script>

</body>
</html>