<!DOCTYPE html>
<html>
<title>FA Studios</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<body>

<div class="loading">
  <center>
    <img src="/images/fa.png" class="logo" alt="Logo">
  </center>

  <div class="w3-container">
  <div class="w3-light-grey w3-tiny">
    <div id="myBar" class="w3-container w3-black w3-center" style="width:0%">0%</div>
  </div>
  <br>
  <center>
    <button class="w3-button w3-black" onclick="move()">Start</button> 
  </center>
  </div>
</div>
<script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = 0;
  var id = setInterval(frame, 20);
  function frame() {
    if (width >= 100) {
      window.location = "/index";
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>

</body>
</html> 

