<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> 
</head>
<body style="background-color: black">
    <h1 style="color: white; font-family: 'Press Start 2P', cursive; text-align: center; font-size: 150pt">You Win!</h1>
    <p style="color: white; font-family: 'Press Start 2P', cursive; text-align: center">
        Stay tuned for more levels in the future! <br/>
        This is fair use, as this is a transformative work parodying Electronic Arts, while being educational and providing beginners 
        an intro to information security. Created at AdrenaLAN 2018 Hackathon, using node.js, Phaser, and Bootstrap. Domain hosting provided by <a href="http://get.tech">get.tech</a>
    </p>
</body>
</html>